<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<wicket:panel>
    <footer class="e_Footer" data-boundary="explore">
        <div class="e_Footer__cutter">
            <div class="e_Footer__inner">
                <div class="e_Footer__initiative">
                    <!-- please leave this part untouched -->
                    <img
                            src="http://localhost:4000/img/neulandlogo.svg"
                            alt="neuland - Büro für Informatik"
                            width="45"
                            height="40"
                    />
                    <p>
                        based on
                        <a
                                href="https://micro-frontends.org/tractor-store/"
                                target="_blank"
                        >
                            the tractor store 2.0
                        </a>
                        <br />
                        a
                        <a href="https://neuland-bfi.de" target="_blank">neuland</a> project
                    </p>
                </div>

                <div class="e_Footer__credits">
                    <!-- replace this details about your implementation and organization -->
                    <h3>techstack</h3>
                    <p>
                        Wicket, baseline monolith, Jetty, Maven
                    </p>
                </div>
            </div>
        </div>
    </footer>
</wicket:panel>
</body>
</html>