<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<wicket:panel>
    <header class="e_Header" data-boundary="explore">
        <div class="e_Header__cutter">
            <div class="e_Header__inner">
                <a class="e_Header__link" wicket:id="homeLink">
                    <img
                        class="e_Header__logo"
                        src="http://localhost:4000/img/logo.svg"
                        alt="Micro Frontends - Tractor Store"
                    />
                </a>
                <div class="e_Header__navigation" wicket:id="navigationPanel"></div>
            </div>
        </div>
    </header>`
</wicket:panel>
</body>
</html>