<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <wicket:panel>
            <div class="e_Store_content">
                <img class="e_Store_image" wicket:id="image" />
                <p class="e_Store_address">
                    <span wicket:id="name"></span><br />
                    <span wicket:id="street"></span><br />
                    <span wicket:id="city"></span>
                </p>
            </div>
        </wicket:panel>
    </body>
</html>