<div class="exp_recommendations" data-boundary="explore">
  <h2>Recommendations</h2>
  <ul class="exp_recommendations__list">
    @for (r of recommendations(); track r.key) {
      <li class="exp_recommendation">
        <a class="exp_recommendation__link" [href]="url(r.productSku, r.sku)">
          <img
            class="exp_recommendation__image"
            [src]="r.image | fromCDN: '400'" 
            alt=""
            sizes="200px"
            width="200"
            height="200"
          />
        </a>
      </li>
    }
  </ul>
</div>